*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    height: 12vw;
    max-height: 100px;
    z-index: 5;
}

.left-nav, .right-nav{
    position: absolute;
    text-align: left;
    padding-top: 3.5%;
    font-size: 4vw;
}

.left-nav{
    left: 0;
    padding-left: 4%
}

.right-nav{
    right: 0;
    padding-right: 4%;
}

main{
    margin-top: 7vw;
}

.logo{
    border: 1px black solid;
    margin-top: 15vw;
    width: 20vw;
    height: 20vw;
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipes{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1200px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe{
    width: 100%;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    border: 1px black solid;
}

.recipe-box{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.recipe-features{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.rating{
    margin: 0;
    padding-left: 2%;
    width: 100%;
    font-size: 3.5vw;
}

.recipe-name{
    margin: 0;
    text-align: center;
    font-size: 4.5vw;
}


.recipe-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image{
    width: 20%;
    background-color: gray;
    text-align: center;
}

.preparation-time, .amount-of-steps, .amount-of-ingredients{
    font-size: 3.5vw;
}


@media screen and (min-width: 1000px) {
    .right-nav, .left-nav{
        padding-top: 30px;
        font-size: 35px;
    }

    .recipe{
        font-size: 3vw;
    }

    .recipe-name{
        font-size: 3vw;
    }

    .preparation-time, .amount-of-steps, .amount-of-ingredients{
        font-size: 2vw;
    }

    .edit-recipe, .rating{
        font-size: 2.5vw;
    }

}